.bg-card {
<<<<<<< HEAD
	display: grid;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.bg-card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 6px 8px rgba(0, 0, 0, 0.22);
}
.infos-card {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.card-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.img-card {
	margin: auto;
	padding: 15px 0px;
}

.name {
	font-size: 24px;
	font-weight: 600;
}

.gen {
	padding: 3px 6px;
	border-radius: 43px;
	background: #00838f;
	color: #ffffff;
}

.type,
.default {
	width: fit-content;
	padding: 4px 14px;
	margin: auto;
	font-size: 16px;
	border: 1px solid #000;
	border-radius: 50px;
=======
    display: grid;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.bg-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 6px 8px rgba(0, 0, 0, 0.22);
}
.infos-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.img-card {
    margin: auto;
    padding: 15px 0px;
}

.name {
    font-size: 24px;
    font-weight: 600;
}

.gen {
    padding: 3px 6px;
    border-radius: 43px;
    background: #00838f;
    color: #ffffff;
}

.type,
.default {
    width: fit-content;
    padding: 4px 14px;
    margin: auto;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 50px;
}

.habitat span {
    font-weight: 700;
}
.infos {
    color: #006ff3;
}

.power {
    margin-top: 10px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50px;
    padding: 10px;
    font-size: 18px;
>>>>>>> ef73ef4296a755b71ed68c071bf1782009bd08c0
}

.habitat span {
	font-weight: 700;
}
.infos {
	color: #006ff3;
}

.power {
	margin-top: 10px;
	color: #ffffff;
	background-color: #000000;
	border-radius: 50px;
	padding: 10px;
	font-size: 18px;
}
