.bg-card {
	display: grid;
	width: 230px;
	padding: 20px;
	background-color: #f7f7f7;
	border-radius: 20px;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bg-card:hover {
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.22);
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gen {
	padding: 3px 10px;
	border-radius: 50px;
	color: #ffffff;
}

.infos-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.img-card {
	padding: 15px 0px;
	object-fit: contain;
	cursor: pointer;
}

.name {
	font-size: 24px;
	font-weight: 600;
}

.type,
.default {
	border-radius: 50px;
	border: 1px solid #000;
	font-size: 12px;
	padding: 4px 14px;
	text-align: center;
}

.habitat span {
	font-weight: 700;
}

.infos {
	color: #006ff3;
	font-size: 12px;
}

.power {
	width: 100%;
	padding: 10px;
	font-size: 14px;
	color: #ffffff;
	background-color: #000000;
	border-radius: 50px;
	cursor: pointer;
}

.section-type {
	display: flex;
	gap: 15px;
}
