.filterContainer {
	display: grid;
	justify-items: center;
	margin: 15px;
}

.filterTitle {
	border-bottom: 1px solid black;
	margin-bottom: 15px;
	cursor: pointer;
	background: transparent;
}

.filterTitle:disabled {
	cursor: default;
}

.tagContainer{
	width: fit-content;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 15px;
}

.containerAnimate {
	text-align: center;
	transition: height .7s cubic-bezier(0.65, 0.12, 0.29, 1.04);
	overflow: hidden;
}

.containerAnimate.open {
	height: 152px;
}

.containerAnimate.close {
	height: 0px;
}

.tag {
	display: flex;
	justify-content: center;
	width: 105px;
	color: #005541;
	border-radius: 50px;
	border: 2px solid transparent;
	cursor: pointer;

}

.applyFilter {
	margin-top: 15px;
	border-radius: 20px;
	padding: 5px 15px;
	cursor: pointer;
}

.applyFilter:hover {

}

.checkbox:checked + .tag{
	border: 2px solid black
}
.tag:hover{
	border: 2px solid rgba(0, 0, 0, 0.445)
}

.checkbox:disabled + .tag{
	background-color: #cdcdcd75;
    color: #00000055;
	cursor: not-allowed;
}

.checkbox:disabled + .tag:hover{
	border: 2px solid transparent;
}

