.box {
	width: 63px;
	height: 28px;
	border: 1px solid black;
	border-radius: 50px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.box::before,
.box::after {
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	display: grid;
	align-items: center;
	font-size: 12px;
	border-radius: 50px;
	transform: translate(-50%, -50%);
	transition: all 0.2s ease;
	position: absolute;
}

.box::before {
	content: 'Default';
}

.box::after {
	content: 'Shyne';
	left: 150%;
	background: #ffd70070;
}

.box.active::before {
	left: -100%;
}

.box.active::after {
	left: 50%;
}
