.container {
    display: flex;
    padding: 30px;
    max-width: 1220px;
    justify-content: center;
    margin: auto;
    gap: 20px;
<<<<<<< HEAD
}
=======
}
>>>>>>> ef73ef4296a755b71ed68c071bf1782009bd08c0
